.generator {
    text-align: center;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    outline: none;
    border-radius: 0px;
}

.button {
    border-radius: 0px;
    border-left: none;
    cursor: pointer;
}
